.not-found-page {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 34px;
  }

  p {
    color: var(--bg-blue);
    cursor: pointer;
    font-size: 22px;
  }
}
