.edit-job-page {
  display: grid;
  place-items: center;
}

.edit-job-form-container {
  background-color: var(--bg-blue);
  width: 1000px;
  padding: 20px 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.edit-job-form-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    margin: 10px;
    font-size: 30px;
    color: var(--bg-white);
  }
}
