<section class="company-details-page">
  <div class="company-details">
    <div class="company-heading">
      <div class="company-logo-container">
        <img src="{{ selectedJob().companyLogo }}" alt="comapny logo" />
      </div>
      <div class="company-info-container">
        <div class="company-name-container">
          <h2>{{ selectedJob().companyName }}</h2>
        </div>
        <div class="company-info-div">
          <p><strong>Address:</strong> {{ selectedJob().companyAddress }}</p>
          <p><strong>Website:</strong> {{ selectedJob().companyWebsite }}</p>
          <p><strong>Industry:</strong>{{ selectedJob().companyIndustry }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
