<form class="job-form" [formGroup]="jobForm" (ngSubmit)="onSubmitForm()">
  <div class="job-form-position">
    <div>
      <h2>Job informations:</h2>
    </div>
    <div class="form-group">
      <label for="job-position">Position:</label>
      <input type="text" id="job-position" formControlName="position" />
      @if(jobForm.get('position').touched &&
      jobForm.get('position').errors?.required){
      <p class="error-message">Position is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-company">Company name:</label>
      <input type="text" id="job-company" formControlName="companyName" />
      @if(jobForm.get('companyName').touched &&
      jobForm.get('companyName').errors?.required){
      <p class="error-message">Company name is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-work-type">Work type:</label>
      <select id="job-work-type" formControlName="workType">
        <option value="deafult" [defaultSelected]="true" [disabled]="true">
          Select type
        </option>
        <option value="onsite">Onsite</option>
        <option value="remote">Remote</option>
        <option value="hybrid">Hybrid</option>
      </select>
      @if(jobForm.get('workType').touched &&
      jobForm.get('workType').errors?.required){
      <p class="error-message">Work type is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-salary">Job salary:</label>
      <input type="number" id="job-salary" formControlName="startingSalary" />
      @if(jobForm.get('startingSalary').touched){
      <p
        class="error-message"
        *ngIf="jobForm.get('startingSalary').errors?.required"
      >
        Salary is required!
      </p>
      <p
        class="error-message"
        *ngIf="jobForm.get('startingSalary').errors?.min"
      >
        Salary must be a grater than 0!
      </p>
      }
    </div>
    <div class="form-group">
      <label for="job-date">Expires date:</label>
      <input type="date" id="job-date" formControlName="expires" />
      @if(jobForm.get('expires').touched &&
      jobForm.get('expires').errors?.required){
      <p class="error-message">Date is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-location">Location:</label>
      <input type="text" id="job-location" formControlName="location" />
      @if(jobForm.get('location').touched &&
      jobForm.get('location').errors?.required){
      <p class="error-message">Location is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-country">Country:</label>
      <input type="text" id="job-country" formControlName="country" />
      @if(jobForm.get('country').touched &&
      jobForm.get('country').errors?.required){
      <p class="error-message">Country is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-qualifications">Job qualifications:</label>
      <textarea
        id="job-qualifications"
        cols="50"
        rows="5"
        formControlName="qualifications"
      ></textarea>
      <small>
        {{ jobForm.controls.qualifications.value.length }}/{{
          textAreaMaxLength
        }}
      </small>
      @if(jobForm.get('qualifications').touched &&
      jobForm.get('qualifications').errors?.required){
      <p class="error-message">Qualifications are required!</p>
      }
    </div>
    <div class="form-group">
      <label for="job-description">About job:</label>
      <textarea
        id="job-description"
        cols="50"
        rows="5"
        formControlName="jobDescription"
      ></textarea>
      <small>
        {{ jobForm.controls.jobDescription.value.length }}/{{
          textAreaMaxLength
        }}
      </small>
      @if(jobForm.get('jobDescription').touched &&
      jobForm.get('jobDescription').errors?.required){
      <p class="error-message">Description about job is required!</p>
      }
    </div>
  </div>
  <div class="job-form-company">
    <div>
      <h2>Company informations:</h2>
    </div>
    <div class="form-group">
      <label for="company-logo">Company logo:</label>
      <input
        type="text"
        id="company-logo"
        formControlName="companyLogo"
        placeholder="URL"
      />
      @if(jobForm.get('companyLogo').touched &&
      jobForm.get('companyLogo').errors?.validUrl &&
      jobForm.get('companyLogo').value.length > 0 ) {
      <p class="error-message">Only urls served over http.</p>
      } @if(jobForm.get('companyLogo').touched &&
      jobForm.get('companyLogo').errors?.required){
      <p class="error-message">Logo url is required!</p>

      }
    </div>
    <div class="form-group">
      <label for="company-address">Company address:</label>
      <input
        type="text"
        id="company-address"
        formControlName="companyAddress"
      />
      @if(jobForm.get('companyAddress').touched &&
      jobForm.get('companyAddress').errors?.required){
      <p class="error-message">Address is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="company-website">Company website:</label>
      <input
        type="text"
        id="company-website"
        formControlName="companyWebsite"
      />
      @if(jobForm.get('companyWebsite').touched &&
      jobForm.get('companyWebsite').errors?.required){
      <p class="error-message">Website is required!</p>
      }
    </div>
    <div class="form-group">
      <label for="company-industry">Industry:</label>
      <input
        type="text"
        id="company-industry"
        formControlName="companyIndustry"
      />
      @if(jobForm.get('companyIndustry').touched &&
      jobForm.get('companyIndustry').errors?.required){
      <p class="error-message">Industry is required!</p>
      }
    </div>
    <div class="form-group-btn">
      <app-button
        [text]="editFormData() ? 'Edit' : 'Add'"
        type="submit"
        [style]="{ width: '100px', borderRadius: '4px' }"
      ></app-button>
    </div>
  </div>
</form>
