.job-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  h2 {
    color: var(--bg-white);
  }

  p {
    margin: 0;
  }

  small {
    color: var(--bg-white);
  }
}

.job-form-position {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job-form-company {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 18px;
    color: var(--bg-white);
  }

  input {
    min-height: 20px;
    background-color: var(--bg-whitesmoke);
    border: 0.5px solid var(--bg-grey);
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.28);
    color: black;
    padding: 5px;
  }

  input.ng-invalid.ng-touched {
    border: 2px solid var(--error);
  }

  select {
    min-height: 20px;
    background-color: var(--bg-whitesmoke);
    border: 0.5px solid var(--bg-grey);
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.28);
    color: black;
    padding: 5px;
  }

  select.ng-invalid.ng-touched {
    border: 2px solid var(--error);
  }

  textarea {
    background-color: var(--bg-whitesmoke);
    border-radius: 5px;
    border: 0.5px solid var(--bg-grey);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.28);
    color: black;
    padding: 5px;
    width: 98%;
  }

  textarea.ng-invalid.ng-touched {
    border: 2px solid var(--error);
  }
}

.form-group-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.error-message {
  margin: 0;
  font-size: 14px;
  color: var(--error);
}
