.login-page {
  display: grid;
  place-items: center;
  min-height: 600px;
}

.login-form-container {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-blue);
  border-radius: 2px;
  padding: 50px 30px;

  h2 {
    font-size: 30px;
    color: var(--bg-white);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
