<section class="job-page">
  <div class="container">
    <div class="search-filters-container">
      <div class="search-container">
        <input
          type="text"
          placeholder="Enter your position..."
          class="search-input"
          [(ngModel)]="searchValue"
        />
      </div>
      <div class="filters-container">
        <app-button
          text="Salary"
          (btnClick)="onClickSort()"
          [style]="{ border: '0.2px solid black' }"
        ></app-button>
        <app-button
          text="Remote"
          (btnClick)="onFilterButtonClick(filterValue.REMOTE)"
          [style]="{ border: '0.2px solid black' }"
        ></app-button>
        <app-button
          text="Onsite"
          (btnClick)="onFilterButtonClick(filterValue.ONSITE)"
          [style]="{ border: '0.2px solid black' }"
        ></app-button>
        <app-button
          text="Hybrid"
          (btnClick)="onFilterButtonClick(filterValue.HYBRID)"
          [style]="{ border: '0.2px solid black' }"
        ></app-button>
        <app-button
          text="Reset"
          (btnClick)="onResetClick()"
          [style]="{ border: '0.2px solid black' }"
        ></app-button>
      </div>
    </div>
  </div>
  <div class="job-lists-container">
    <app-job-list [searchValue]="searchValue()"></app-job-list>
    <app-apply-job-list [searchValue]="searchValue()"></app-apply-job-list>
  </div>
</section>
